<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.seckillservice.dao.GoodsDao">
    <sql id="Base_Column_List">
        id,name,name_desc,random_name,price,image_url,store,start_time,end_time
    </sql>
    <update id="updateStoreById">
        update goods
        set store=store - 1
        where id = #{id}
    </update>
    <select id="querySeckillList" resultType="com.powernode.common.entity.Goods">
        select
        <include refid="Base_Column_List"/>
        from goods
    </select>
    <select id="getById" resultType="com.powernode.common.entity.Goods">
        select
        <include refid="Base_Column_List"/>
        from goods where id =#{id}
    </select>

</mapper>